.main-layout {
  min-height: 100vh;
  background-color: #004D98;
  color: white;
}

.main-body {
  display: flex;
  align-items: stretch;
  min-height: calc(100vh - 70px);
}

.main-content {
  flex: 1;
  padding: 20px;
  min-height: calc(100vh - 70px);
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main-content {
    width: 100%;
  }

  .right-widgets {
    display: none;
  }
}