.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #004D98; /* Bleu Barça */
  color: white;
}

.main-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main-content {
    width: 100%;
  }

  .right-widgets {
    display: none;
  }
}
